/* Шрифт */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/* Блок html */
.html {
}

.html__body {
    margin: 0;
    padding: 0;
    background-color: beige;
}

.footer__link {
    background-image: url("https://rs.school/images/rs_school_js.svg");
    background-repeat: no-repeat;
    width: 121px;
    height: 45px;
}